/* body */

.open {
    display: block !important;
}

/* main */

.top-main {
    background-image: var(--gradient__header);
    min-height: 100vh;
    padding-top: 8rem;
}

.wrapper__top-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right__top-main, .left__top-main {
    flex-basis: 50%;
}

/* left top-main */

.left__top-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.top-main__title,
.top-main__text {
    color: var(--primary__black);
}

.version-header {
    min-height: 35px;
    font-size: 14px;
}

.top-main__title {
    font-size: 76px;
    font-family: var(--bold-font), serif;
    font-weight: 600;
    max-width: 520px;
    line-height: 100px;
}

.top-main__text {
    font-size: 22px;
    max-width: 520px;
    opacity: .8;
}

/* right base header */

.right__top-main {
    position: relative;
}

.top-main__image {
    max-width: 690px;
    animation: translate-img 4s infinite;
}

.top-main__img-1 {
    max-width: 220px;
    position: absolute;
    left: -10%;
}

.top-main__img-1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 20%;
    transform: translate(-50%, -50%);
    background-color: black;
}

.top-main__img-2 {
    position: absolute;
    max-width: 240px;
    bottom: -8%;
    right: -13%;
}

@keyframes translate-img {
    50% {
        transform: translateY(-30px);
    }
}

/* middle-main */

.middle-main {
    padding: 3rem 0 8rem 0;
    background-image: var(--gradient__main);
}

.terminal {
    min-height: 320px;
    direction: ltr;
    background: var(--primary__bc-grey);
    padding: 30px;
    border-radius: 12px;
    color: #d0d2da;
    box-shadow: 0 0 40px rgba(0, 255, 145, 0.3);
    font-size: 1.3rem;
    transition: 2s;
    position: relative;
    background: #0d1117;
    overflow: hidden;
}

.terminal__matrix-img {
    height: 100%;
    position: absolute;
    inset: 0;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;

}

.active-matrix {
    visibility: visible;
    opacity: 0.115;
    animation: matrixGlitch 6s steps(6, end) forwards;
}

@keyframes matrixGlitch {
    0%, 20%, 40%, 60%, 80% {
        opacity: 0.1;
        transform: scale(1.01) translate(1px, -1px) skew(0.5deg);
    }
    10%, 30%, 50%, 70%, 90% {
        opacity: 0.12;
        transform: scale(1.005) translate(-1px, 1px) skew(-0.5deg);
    }
    100% {
        opacity: 0;
        transform: none;
    }
}

.terminal-content {
    position: relative;
    z-index: 1;
}

.terminal-events {
    transition: 3s;
    transform: rotateX(360deg);
}

.code-line svg {
    width: 18px;
    height: 18px;
    fill: var(--green__code);
}

.code-line {
    align-items: baseline !important;
    position: relative;
    width: fit-content;
    color: var(--green__code);
    animation: glitch 6s steps(2, end) infinite;
    animation-delay: 4s;
}

.code-line__no-animation {
    animation: unset;
}

@keyframes glitch {
    5% {
        transform: translate(40px, 60px);
        color: #5e5f64;
    }

    10% {
        transform: translate(0, 2px);
    }

    15% {
        transform: translate(2px, 0);
    }

    20% {
        transform: scale(0.98);
    }

    25% {
        transform: translate(1px, -2px);
    }

    30% {
        transform: translate(0);
        color: var(--green__code);
    }

    100% {
        transform: translate(0);
    }
}

.terminal__code-wrapper {
    font-family: monospace;
}

.button-animate {
    margin-top: 1.5rem;
    position: relative;
    width: fit-content;
    color: #fff;
}

.js-code {
    margin-top: .7rem;
    position: relative;
    width: fit-content;
}

.js-code, .button-animate, .code-line {
    display: flex;
    align-items: flex-start;
    gap: .5rem;
    color: var(--green__code);
}

.button-animate, .js-code {
    min-height: 32px;
}

.js-code::after, .button-animate::after {
    content: "";
    position: absolute;
    display: block;
    background-color: rgba(0, 255, 145, .8);
    height: 100%;
    width: 2px;
    top: 50%;
    right: -4px;
    transform: translateY(-50%);
    animation: typingMode .75s step-end infinite;
}

.fa-face-sad-cry {
    color: darkorange;
    z-index: 2;
    position: absolute;
    top: 2px;
    left: 0;
    animation: translate-emoji 2s linear infinite;
    transform-origin: center;
}

@keyframes translate-emoji {
    50% {
        transform: translateX(850%) scale(1);
    }
}

.rotating-btn-wrapper {
    width: fit-content;
    margin-top: 1rem;
    position: relative;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
    transition: all 500ms linear;
    color: var(--green__code);
}

.rotating-btn {
    color: inherit;
    position: relative;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 4px #000;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}

.rotating-btn::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: var(--green__code);
    animation: rotateGradient 5s linear infinite;
    z-index: -1;
}

.rotating-btn::after {
    content: "";
    position: absolute;
    inset: 2px;
    background-color: #111;
    border-radius: 6px;
    z-index: -1;
}

@keyframes rotateGradient {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.un-active {
    position: absolute;
    animation: unActive 4s forwards;
}

@keyframes unActive {
    100% {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes moveGradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes rotateGradient {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes typingMode {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: rgba(0, 255, 145, .8);
    }
    100% {
        background-color: transparent;
    }
}

/* open-text */

.open-text {
    padding-top: 1.5rem;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    transition: all 3s ease-in-out;
    flex-direction: column;
    gap: .5rem;
}

.active-text {
    position: unset;
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

.open-text__p-wrapper {
    display: flex;
    gap: .4rem;
}

/* about-skills */

.about-skills {
    position: relative;
    margin: 5rem 0 10rem 0;
}

.about-skills__img-wrapper {
    left: 5px;
    top: 5px;
}

.about-skills-wrapper {
    opacity: 0;
    padding: 2rem 1rem;
}

.about-skills-wrapper-animate {
    animation: fadeInUp 1.4s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-skills__title-wrapper {
    max-width: 800px;
    place-self: center;
    text-align: center;
}

.about-skills__title-wrapper h4 {
    margin-bottom: .5rem;
}

.about-skills__title {
    line-height: 28px;
    margin-top: 1.5rem;
}

.about-skills__list {
    max-width: 800px;
    margin: 4rem auto;
}

/* bottom-main */

.bottom-main {
    color: var(--primary__gery-header);
    padding-bottom: 2rem;
    background-color: var(--background);
}

/* webstorm code */

.webstorm-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding-top: 2rem;
}

/* note-editor */

.webstorm-wrapper h2 {
    font-size: 26px;
}

.note-editor {
    overflow: hidden;
    position: relative;
}

.note-editor img {
    width: 100%;
    max-height: 360px;
    border-radius: 34px;
}

#js-ball-container {
    bottom: 2.5%;
    right: 1%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.js-ball {
    opacity: 0;
    visibility: hidden;
    box-shadow: var(--inset-shadow);
    width: 50px;
    height: 50px;
    background-color: #a5c9bd;
    border-radius: 50%;
    font-family: 'FontAwesome', serif;
    font-weight: bold;
    color: #3d4150;
    display: flex;
    align-items: center;
    justify-content: center;
}

.js-ball-animate {
    animation: jsAppear 0.01s linear forwards, jsBounce 2.2s ease-out forwards, jsRoll 1s ease-in-out forwards, jsSettle 0.8s ease-in-out forwards;
    animation-delay: 2.99s, 3s, 5.6s, 6.7s;
}

@keyframes jsAppear {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes jsBounce {
    0% {
        transform: translateY(-200px);
    }
    20% {
        transform: translateY(0);
    }
    35% {
        transform: translateY(-80px);
    }
    50% {
        transform: translateY(0);
    }
    62% {
        transform: translateY(-40px);
    }
    74% {
        transform: translateY(0);
    }
    82% {
        transform: translateY(-20px);
    }
    90% {
        transform: translateY(0);
    }
    95% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes jsRoll {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    25% {
        transform: translateX(-100%) rotate(-200deg);
    }
    50% {
        transform: translateX(-180%) rotate(-300deg);
    }
    75% {
        transform: translateX(-250%) rotate(-450deg);
    }
    100% {
        transform: translateX(-300%) rotate(-600deg);
    }
}

@keyframes jsSettle {
    from {
        transform: translateX(-300%) rotate(-600deg);
    }
    to {
        transform: translateX(-300%) rotate(0deg);
    }
}

.code-html, .code-css, .code-js {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    direction: ltr;
    font-family: 'Font Awesome 6 Free', serif;
    font-size: 11px;
    padding: 8px 10px;
    border-radius: 18px;
    display: inline-block;
    white-space: nowrap;
    transition: all 1s ease;
    border: none;
    background-blend-mode: soft-light;
}

.code-html {
    color: #b6495e;
    left: 23%;
    top: 42%;
    transform: translateX(-150%);
}

.code-css {
    color: #4970b6;
    left: 17%;
    top: 52%;
    transform: translateX(130%);
    transition-delay: 1s;
}

.code-js {
    color: #a58f31;
    bottom: 30%;
    left: 16%;
    transform: translateY(270%);
    transition-delay: 2s;
}


.back-to-inset {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0, 0);
}

/* webstorm images */

.webstorm-wrapper span {
    margin: 1.6rem 0 0 0;
    font-size: 14px;
}

.webstorm-wrapper p, .go-to__about-site span {
    margin-top: 1rem;
    line-height: 2rem;
    max-width: 800px;
    font-size: 18px;
}

.webstorm-wrapper p {
    padding: 2rem;
    box-shadow: var(--inset-shadow);
}

.webstorm-coding-wrapper img {
    width: 100%;
}

.webstorm-html-coding, .webstorm-css-coding {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    max-width: 100%;
    transition: all 2.5s ease;
    z-index: 1;
}

.webstorm-js-coding img {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    transition: all 0.4s ease;
    z-index: 2;
    position: relative;
}

.webstorm-coding-wrapper {
    padding: 15rem 0 18rem 0;
    position: relative;
}

.webstorm-coding-wrapper.show-html .webstorm-html-coding {
    opacity: 1;
    transform: translate(0, 20%);
    max-width: 70%;
}

.webstorm-coding-wrapper.show-css .webstorm-css-coding {
    opacity: 1;
    transform: translate(-100%, -100%);
    max-width: 70%;
}

/* go to about */

.go-to__about-site {
    padding-top: 1.5rem;
    text-align: center;
}

.go-to__about-site a {
    justify-self: center;
}

/* responsive */

@media only screen and (max-width: 1700px) {
    .top-main__image {
        max-width: 600px;
    }

    .top-main__img-1, .top-main__img-2 {
        max-width: 160px;
    }

    .top-main__img-1 {
        left: 0;
    }

    .top-main__img-2 {
        right: 0;
    }
}

@media only screen and (max-width: 1450px) {
    .open-text {
        gap: .7rem;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1400px) {
    .top-main__img {
        max-width: 550px;
    }

    .top-main__img-1 {
        left: -10%;
    }

    .top-main__img-2 {
        bottom: 0;
    }

    .wrapper__top-main {
        gap: 6rem;
        flex-direction: column-reverse;
    }

    .version-header {
        align-self: center;
    }

    .left__top-main {
        text-align: center;
    }

    .top-main__text {
        font-weight: 600;
    }
}

@media only screen and (max-width: 1332px) {
    .open-text {
        gap: 1rem;
    }

    .open-text__p-wrapper {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 1230px) {
    .open-text__p-wrapper {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1100px) {
    .webstorm-coding-wrapper {
        padding: 9rem 0 15rem 0;
    }

    .webstorm-coding-wrapper.show-css .webstorm-css-coding {
        opacity: 1;
        transform: translate(-100%, -114%);
    }

    .webstorm-coding-wrapper.show-html .webstorm-html-coding {
        opacity: 1;
        transform: translate(0, 10%);
    }
}

@media only screen and (max-width: 780px) {
    .webstorm-coding-wrapper {
        padding: 5rem 0 12rem 0;
    }
}

@media only screen and (max-width: 760px) {
    .top-main__img-1 {
        max-width: 120px;
        left: 0;
    }

    .top-main__img-2 {
        bottom: -2%;
    }
}

@media only screen and (max-width: 620px) {
    .top-main__image {
        max-width: 460px;
    }

    .top-main__img-1 {
        top: -6%;
    }

    .top-main__img-2 {
        bottom: -6%;
    }

    .about-skills__title {
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .go-to__about-site span {
        max-width: 400px !important;
        display: block;
        justify-self: center;
    }
}

@media only screen and (max-width: 570px) {
    .button-animate, .js-code {
        min-height: 20px;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 550px) {
    .webstorm-coding-wrapper {
        padding: 5rem 0 8rem 0;
    }
}

@media only screen and (max-width: 500px) {
    .about-skills__title:last-child {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .top-main {
        min-height: auto;
        padding-bottom: 2rem;
    }

    .top-main__image {
        max-width: 340px;
    }

    .top-main__img-1, .top-main__img-2 {
        max-width: 110px;
    }

    .top-main__img-1 {
        top: -13%;
    }

    .top-main__img-2 {
        bottom: -6%;
    }

    .top-main__title {
        line-height: 60px;
    }

    .top-main__text {
        font-size: 20px;
    }

    .button-animate, .js-code {
        font-family: 'dana medium', serif;
    }
}

@media only screen and (max-width: 430px) {
    .top-main__image {
        max-width: 300px;
    }

    .top-main__img-1 {
        top: -16%;
    }

    .top-main__text {
        font-size: 18px;
    }

    .terminal {
        font-size: 1.1rem;
    }

    .webstorm-coding-wrapper {
        padding: 5rem 0;
    }

    .webstorm-wrapper p {
        font-size: 15px;
    }

    .webstorm-wrapper {
        font-size: 13px;
    }

    .code-html, .code-css, .code-js {
        font-family: 'dana medium', serif;
        font-size: 0.8rem;
    }

    .code-html {
        left: 28%;
    }

    .code-js {
        bottom: 28%;
        left: 24%;
    }

    .code-css {
        left: 25%;
    }
}

@media only screen and (max-width: 380px) {
    .top-main__image {
        max-width: 260px;
    }

    .top-main__img-1 {
        max-width: 90px;
        top: -20%;
    }

    .top-main__img-2 {
        bottom: -12%;
    }

    .rotating-btn-wrapper {
        place-self: center;
        margin-top: 2.5rem;
    }

    .button-animate, .js-code {
        min-height: 16px;
        font-size: 0.8rem;
    }

    .rotating-btn {
        font-size: .8rem;
    }

    .webstorm-wrapper p {
        padding: 1rem .5rem;
    }

    .code-html {
        top: 41%;
        left: 26%;
    }

    .code-js {
        left: 21%;
    }

    .code-css {
        top: 51%;
        left: 23%;
    }

    .js-ball {
        width: 45px;
        height: 45px;
    }

    .go-to__about-site span {
        font-size: 15px;
    }

    .go-to__about-site a {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 350px) {
    .code-css {
        left: 21%;
    }

    .code-html {
        top: 40%;
        left: 25%;
    }

    .code-js {
        left: 19%;
    }

    #js-ball-container {
        bottom: 2.7%;
    }

    .js-ball {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 330px) {
    .top-main__image {
        max-width: 220px;
    }

    .top-main__img-1 {
        top: -22%;
    }

    .top-main__img-2 {
        max-width: 80px;
    }

    .terminal-wrapper {
        font-size: 1rem;
    }

    .top-main__img-1 {
        top: -26%;
    }

    .code-js {
        left: 16%;
        bottom: 27%;
    }

    .code-css {
        left: 18%;
        top: 50%;
    }

    .code-html {
        left: 23%;
    }
}

@media only screen and (max-width: 320px) {
    .button-animate, .js-code {
        font-size: 0.7rem;
        letter-spacing: 0.025rem;
    }

    #js-ball-container {
        bottom: 3%;
    }

    .js-ball {
        width: 38px;
        height: 37px;
    }
}